
*{
    margin: 0;
    padding: 0;
}
.nav-background{
    width: 100%;
    background-color: #fff ;
    border-bottom: 2px solid #ddd;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;

}
.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
 color: #444;
 text-decoration: none;
}
.nav-logo:hover {
    color: #666;
}
.nav-ul{
    display: flex;
    max-width: 700px;
}
.nav-ul > li {
    display: flex;
}
.nav-link{
    flex:1;
    color: #444;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2 rem;
    transition: all 200ms linear;
    flex-basis: auto;
    padding: 1rem 1.5rem;
}
.nav-link:hover {
    background-color: #f1f1f1;
}
.active-link{
    background-color: #f1f1f1;
}